body {
  background-color: #1b1b1b;
}

.colorBg {
  background-color: #1b1b1b;
}

.dark {
  background-color: black;
}
.width-container23 {
  width: 60%;
}

/* nav-link dropdown-toggle dark p-1 px-3 ms-4 border border-white  */
